* {
margin: 0;
padding: 0;
box-sizing: border-box; /* Essencial para cálculos de largura */
}
body {
font-family: 'Segoe UI', sans-serif;
color: #333;
background-color: #f8f9fa;
line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.nav {
    display: flex;
    gap: 20px;
}
.nav-link {
    text-decoration: none;
    color: #555;
    font-weight: 600;
}

.nav-link:hover {
    color: #007BFF;
}

.hero-content {
    display: flex;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
}

.hero-text, .hero-media {
    flex: 1;
}

.cards {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 760px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
    .hero-content {
        flex-direction: column;
        text-align: center;
    }
    .cards {
        flex-direction: column;
    }
}